$color-gold: #d2a937;
$color-gold-fade: #d2a937ee;

$header-background: #000d;
$hauteur-header: 80px;
$police-link-header: 14px;
$hauteur-logo: 56px;
$ratio-largeur-hauteur: 2.17;

$hauteur-header-underlink: 1px;
$hauteur-nav-second-underlink: 2px;


$standard-padding: 50px;
$section-min-height: 800px;

$taille-ratio-image: 5;


$fomulaire-police: HelveticaLight;
$fomulaire-input-label-font-size: 14px;
$fomulaire-input-padding-width: 10px;
$fomulaire-input-padding-height: 12px;
$fomulaire-label-margin: 2px;